<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="trello-header jumbotron">
  <div class="container">
    <h1>Hello, Dev!</h1>
    <p>This is my Tiny-Trello project. I hope you enjoy it. I primarily used Ember components and tried to decouple functionality as much as possible. I hope you find my code clean and understandable. Please be sure to try running tests with 'ember test'. Cheers and thank you for the opportunity! - Jacob</p>
  </div>
</div>

{{outlet}}